USE [master]
GO
/****** Object:  Database [QL_Guardian]    Script Date: 10/20/2024 9:46:37 PM ******/
CREATE DATABASE [QL_Guardian]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QL_Guardian', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QL_Guardian.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QL_Guardian_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\QL_Guardian_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QL_Guardian].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QL_Guardian]
GO
/****** Object:  Table [dbo].[Address_]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Address_](
	[AddressID] [varchar](20) NOT NULL,
	[PhoneNumber] [varchar](11) NOT NULL,
	[HouseNumber] [varchar](10) NULL,
	[Street] [nvarchar](50) NULL,
	[Ward] [nvarchar](30) NULL,
	[District] [nvarchar](20) NULL,
	[City] [nvarchar](30) NULL,
	[Country] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[AddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandID] [varchar](20) NOT NULL,
	[BrandName] [nvarchar](50) NULL,
	[isTopBrand] [tinyint] NULL,
PRIMARY KEY CLUSTERED 
(
	[BrandID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Cart]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Cart](
	[ProductID] [varchar](20) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[Quantity] [int] NULL,
 CONSTRAINT [FK_ProductID6_UserID6] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Category]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [varchar](20) NOT NULL,
	[CategoryName] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Event_]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Event_](
	[EventID] [varchar](20) NOT NULL,
	[EventName] [nvarchar](50) NULL,
	[StartDate] [date] NULL,
	[EndDaye] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EventID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[EventProduct]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[EventProduct](
	[EventID] [varchar](20) NOT NULL,
	[ProductID] [varchar](20) NOT NULL,
	[DiscountPercent] [tinyint] NULL,
 CONSTRAINT [FK_EventID_ProductID3] PRIMARY KEY CLUSTERED 
(
	[EventID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Image_]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Image_](
	[ImageID] [varchar](20) NOT NULL,
	[ImagePath] [varchar](100) NULL,
	[AltText] [text] NULL,
	[BigVersionPath] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Invoice]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Invoice](
	[InvoiceKey] [varchar](20) NOT NULL,
	[Serial] [nvarchar](50) NULL,
	[InvoiceNumber] [int] NULL,
	[InvoiceDate] [date] NULL,
	[MCQT] [varchar](20) NOT NULL,
	[BrandID] [varchar](20) NULL,
	[UserID] [varchar](20) NULL,
	[PaymentTermID] [varchar](20) NULL,
	[Note] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[MCQT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[LikedProducts]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[LikedProducts](
	[ProductID] [varchar](20) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
 CONSTRAINT [FK_ProductID1_UserID1] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Order_]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Order_](
	[OrderID] [varchar](20) NOT NULL,
	[UserID] [varchar](20) NULL,
	[TotalPrice] [decimal](20, 0) NULL,
	[OrderStatusID] [varchar](20) NULL,
	[DateOrdered] [date] NULL,
	[DeliveryAddressID] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[OrderStatus]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrderStatus](
	[StatusID] [varchar](20) NULL,
	[StatusName] [nvarchar](15) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PaymentTerm]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[PaymentTerm](
	[PaymentTermID] [varchar](20) NOT NULL,
	[PaymentTermName] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentTermID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Product]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[ProductID] [varchar](20) NOT NULL,
	[ProductName] [varchar](50) NOT NULL,
	[RatingStars] [decimal](2, 1) NULL,
	[BrandID] [varchar](20) NULL,
	[SKU] [varchar](10) NULL,
	[Price] [decimal](10, 0) NULL,
	[CategoryID] [varchar](20) NULL,
	[Ingredients] [nvarchar](100) NULL,
	[DescriptionProduct] [text] NULL,
	[Uses] [text] NULL,
	[InstructionManualDescription] [text] NULL,
	[InstructionStoreDescription] [text] NULL,
	[StockQuantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[SKU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductOrder]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductOrder](
	[OrderID] [varchar](20) NOT NULL,
	[ProductID] [varchar](20) NOT NULL,
	[VoucherID] [varchar](20) NOT NULL,
	[Quantity] [smallint] NULL,
	[DiscountedAmount] [int] NULL,
	[FinalPrice] [int] NULL,
 CONSTRAINT [FK_OrderID_ProductID2_VoucherID1] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC,
	[ProductID] ASC,
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Rank_]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rank_](
	[RankID] [varchar](20) NOT NULL,
	[RankName] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[RankID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Review]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Review](
	[ReviewID] [varchar](20) NOT NULL,
	[OrderID] [varchar](20) NULL,
	[ProductID] [varchar](20) NULL,
	[UserID] [varchar](20) NULL,
	[ReviewTime] [date] NULL,
	[ReviewContent] [text] NULL,
	[Stars] [decimal](3, 1) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[User_]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[User_](
	[UserID] [varchar](20) NOT NULL,
	[FirstName] [nvarchar](10) NULL,
	[LastName] [nvarchar](10) NULL,
	[PhoneNumber] [varchar](11) NOT NULL,
	[Email] [varchar](50) NULL,
	[UserPassword] [varchar](30) NULL,
	[Point] [int] NULL,
	[RankID] [varchar](20) NULL,
	[TotalOrder] [int] NULL,
	[Birthdate] [date] NULL,
	[Sex] [char](3) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[PhoneNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserBagProducts]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserBagProducts](
	[ProductID] [varchar](20) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[Quantity] [smallint] NULL,
 CONSTRAINT [FK_ProductID_UserID] PRIMARY KEY CLUSTERED 
(
	[ProductID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[UserVoucher]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[UserVoucher](
	[VoucherID] [varchar](20) NOT NULL,
	[UserID] [varchar](20) NOT NULL,
	[isUsed] [tinyint] NULL,
 CONSTRAINT [FK_VoucherID_UserID2] PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Voucher]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Voucher](
	[VoucherID] [varchar](20) NOT NULL,
	[Code] [varchar](20) NOT NULL,
	[Name] [varchar](50) NULL,
	[MinimumPrice] [int] NULL,
	[DiscountPRice] [int] NULL,
	[DiscountPercentage] [decimal](2, 0) NULL,
	[VoucherDescription] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[VoucherProduct]    Script Date: 10/20/2024 9:46:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[VoucherProduct](
	[ProductID] [varchar](20) NOT NULL,
	[VoucherID] [varchar](20) NOT NULL,
 CONSTRAINT [FK_VoucherID2_ProductID4] PRIMARY KEY CLUSTERED 
(
	[VoucherID] ASC,
	[ProductID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_ProductID6] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_ProductID6]
GO
ALTER TABLE [dbo].[Cart]  WITH CHECK ADD  CONSTRAINT [FK_UserID6] FOREIGN KEY([UserID])
REFERENCES [dbo].[User_] ([UserID])
GO
ALTER TABLE [dbo].[Cart] CHECK CONSTRAINT [FK_UserID6]
GO
ALTER TABLE [dbo].[EventProduct]  WITH CHECK ADD  CONSTRAINT [FK_EventID] FOREIGN KEY([EventID])
REFERENCES [dbo].[Event_] ([EventID])
GO
ALTER TABLE [dbo].[EventProduct] CHECK CONSTRAINT [FK_EventID]
GO
ALTER TABLE [dbo].[EventProduct]  WITH CHECK ADD  CONSTRAINT [FK_ProductID3] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[EventProduct] CHECK CONSTRAINT [FK_ProductID3]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_BrandID1] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_BrandID1]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_PaymentTermID] FOREIGN KEY([PaymentTermID])
REFERENCES [dbo].[PaymentTerm] ([PaymentTermID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_PaymentTermID]
GO
ALTER TABLE [dbo].[Invoice]  WITH CHECK ADD  CONSTRAINT [FK_UserID4] FOREIGN KEY([UserID])
REFERENCES [dbo].[User_] ([UserID])
GO
ALTER TABLE [dbo].[Invoice] CHECK CONSTRAINT [FK_UserID4]
GO
ALTER TABLE [dbo].[LikedProducts]  WITH CHECK ADD  CONSTRAINT [FK_ProductID1] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[LikedProducts] CHECK CONSTRAINT [FK_ProductID1]
GO
ALTER TABLE [dbo].[LikedProducts]  WITH CHECK ADD  CONSTRAINT [FK_UserID1] FOREIGN KEY([UserID])
REFERENCES [dbo].[User_] ([UserID])
GO
ALTER TABLE [dbo].[LikedProducts] CHECK CONSTRAINT [FK_UserID1]
GO
ALTER TABLE [dbo].[Order_]  WITH CHECK ADD  CONSTRAINT [FK_AddressID] FOREIGN KEY([DeliveryAddressID])
REFERENCES [dbo].[Address_] ([AddressID])
GO
ALTER TABLE [dbo].[Order_] CHECK CONSTRAINT [FK_AddressID]
GO
ALTER TABLE [dbo].[Order_]  WITH CHECK ADD  CONSTRAINT [FK_UserID3] FOREIGN KEY([UserID])
REFERENCES [dbo].[User_] ([UserID])
GO
ALTER TABLE [dbo].[Order_] CHECK CONSTRAINT [FK_UserID3]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_BrandID] FOREIGN KEY([BrandID])
REFERENCES [dbo].[Brand] ([BrandID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_BrandID]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_CategoryID] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_CategoryID]
GO
ALTER TABLE [dbo].[ProductOrder]  WITH CHECK ADD  CONSTRAINT [FK_OrderID] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order_] ([OrderID])
GO
ALTER TABLE [dbo].[ProductOrder] CHECK CONSTRAINT [FK_OrderID]
GO
ALTER TABLE [dbo].[ProductOrder]  WITH CHECK ADD  CONSTRAINT [FK_ProductID2] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[ProductOrder] CHECK CONSTRAINT [FK_ProductID2]
GO
ALTER TABLE [dbo].[ProductOrder]  WITH CHECK ADD  CONSTRAINT [FK_VoucherID1] FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Voucher] ([VoucherID])
GO
ALTER TABLE [dbo].[ProductOrder] CHECK CONSTRAINT [FK_VoucherID1]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_OrderID3] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Order_] ([OrderID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_OrderID3]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_ProductID7] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_ProductID7]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_UserID5] FOREIGN KEY([UserID])
REFERENCES [dbo].[User_] ([UserID])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_UserID5]
GO
ALTER TABLE [dbo].[User_]  WITH CHECK ADD  CONSTRAINT [FK_RankID] FOREIGN KEY([RankID])
REFERENCES [dbo].[Rank_] ([RankID])
GO
ALTER TABLE [dbo].[User_] CHECK CONSTRAINT [FK_RankID]
GO
ALTER TABLE [dbo].[UserBagProducts]  WITH CHECK ADD  CONSTRAINT [FK_ProductID] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[UserBagProducts] CHECK CONSTRAINT [FK_ProductID]
GO
ALTER TABLE [dbo].[UserBagProducts]  WITH CHECK ADD  CONSTRAINT [FK_UserID] FOREIGN KEY([UserID])
REFERENCES [dbo].[User_] ([UserID])
GO
ALTER TABLE [dbo].[UserBagProducts] CHECK CONSTRAINT [FK_UserID]
GO
ALTER TABLE [dbo].[UserVoucher]  WITH CHECK ADD  CONSTRAINT [FK_UserID2] FOREIGN KEY([UserID])
REFERENCES [dbo].[User_] ([UserID])
GO
ALTER TABLE [dbo].[UserVoucher] CHECK CONSTRAINT [FK_UserID2]
GO
ALTER TABLE [dbo].[UserVoucher]  WITH CHECK ADD  CONSTRAINT [FK_VoucherID] FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Voucher] ([VoucherID])
GO
ALTER TABLE [dbo].[UserVoucher] CHECK CONSTRAINT [FK_VoucherID]
GO
ALTER TABLE [dbo].[VoucherProduct]  WITH CHECK ADD  CONSTRAINT [FK_ProductID4] FOREIGN KEY([ProductID])
REFERENCES [dbo].[Product] ([ProductID])
GO
ALTER TABLE [dbo].[VoucherProduct] CHECK CONSTRAINT [FK_ProductID4]
GO
ALTER TABLE [dbo].[VoucherProduct]  WITH CHECK ADD  CONSTRAINT [FK_VoucherID2] FOREIGN KEY([VoucherID])
REFERENCES [dbo].[Voucher] ([VoucherID])
GO
ALTER TABLE [dbo].[VoucherProduct] CHECK CONSTRAINT [FK_VoucherID2]
GO
USE [master]
GO
